/.next/*
node_modules
public/dist/
public/index.html
infrastructure
.env
.idea/
debug.log
privateKeys.js

# Tests and coverage reports
cypress.env.json
cypress/screenshots/
cypress/videos/
.nyc_output/
jest-coverage/
reports/
coverage/
/cypress-coverage/lcov-report/
/.next/
/out/
next-env.d.ts
