@import "flickityCarousel";

.carousel {
  overflow: hidden;

  .resort-carousel-image {
    min-width: 100%;
    min-height: 100%;
    max-width: 120%;
    max-height: 120%;
    object-fit: cover;
  }

  &__comment {
    height: 7.1875rem !important;
  }
}
