@import "flickityCarousel";

.carousel {
  overflow: hidden;

  .resort-carousel-image {
    min-width: 100%;
    min-height: 100%;
    max-width: 120%;
    max-height: 120%;
    object-fit: cover;
  }

  &__comment {
    height: 8.15rem !important;

    .author {
      display: block;
      position: absolute;
      bottom: 0;
      margin-left: auto;
      right: 0;
      font-size: xx-small;
      padding: 0.4rem 0.8rem;
      border-bottom-right-radius: 0.5rem;
      background-color: #233541;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -15%;
        height: 100%;
        border-top-left-radius: 0.5rem;
        width: 1.25rem;
        background-color: #233541;
        transform: skewX(
            -25deg);
        transition-duration: 0.3s;
      }
    }
  }
}
