.c-header {
  background: $bg-gradient-gray;
}

.header {
  &__toggler {
    &--placeholder {
      opacity: 0.2;
    }
  }

  & .header-col-flex {
    flex: 1 0;

    &-search {
      flex: 2 0;
    }
  }
}
