.hero {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  position: relative;
  width: 100%;
}

.hero__image {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  border-radius: 2rem;
  @media (max-width: 767px) {
    border-radius: 0;
  }
  overflow: hidden;
}

.hero__svg {
  width: 100%;
}

.hero__svg--desktop,
.hero__svg--tablet,
.hero__svg--mobile {
  display: none;
  width: 100%;
}

@media (max-width: 767px) {
  .hero__svg--mobile {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero__svg--tablet {
    display: block;
  }
}

@media (min-width: 1024px) {
  .hero__svg--desktop {
    display: block;
  }
}

.hero__heading {
  grid-row: 1;
  grid-column: 1;
  padding: 2rem;
  color: #1d2e39;
  text-align: left;
  z-index: 1;
  margin-top: 2rem; /* Adjust as needed */

  h1 {
    font-weight: 700;

    @media (max-width: 767px) {
      font-size: 1.5rem;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      font-size: 3rem;
      max-width: 70%;
    }
  }
}

.button-group {
  grid-row: 1;
  grid-column: 1;
  margin-top: 1rem;
  z-index: 1;

  button {
    color: white;
  }
}
