.home-pro-member {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: center;
  position: relative;
  width: 100%;
}

.home-pro-member__image {
  grid-row: 1;
  position: relative;
  grid-column: 1;
  width: 100%;
  overflow: hidden;
  height: 964px;

  & .top {
    height: 50%;
    overflow: hidden;
  }

  & .bottom-wrap {
    height: 300px;
    position: relative;
    overflow: hidden;
  }

  & .bottom {
    height: 600px;
    position: absolute;
    overflow: hidden;

    & svg {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: block;
    }
  }
}

.home-pro-member__svg {
  width: 100%;
  & svg {
    width: 100%;
  }
}

.home-pro-member__svg--desktop,
.home-pro-member__svg--tablet,
.home-pro-member__svg--mobile {
  display: none;
  width: 100%;
}

@media (max-width: 767px) {
  .home-pro-member__svg--mobile {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home-pro-member__svg--tablet {
    display: block;
  }
}

@media (min-width: 1024px) {
  .home-pro-member__svg--desktop {
    display: block;
  }
}

.home-pro-member__heading {
  grid-row: 1;
  grid-column: 1;
  color: #1d2e39;
  text-align: left;
  z-index: 1;
  margin-top: 5rem;

  h1 {
    font-weight: 700;
    max-width: 70%;

    @media (max-width: 767px) {
      font-size: 1.5rem;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      font-size: 3rem;
    }
  }
}

.button-group {
  grid-row: 1;
  grid-column: 1;
  margin-top: 1rem;
  z-index: 1;

  button {
    color: white;
  }
}

.app-features-image {
  max-width: 26rem;
}
