.rating-bar-container {
  width: 100%;
  height: 0.125rem;
  position: absolute;
  bottom: 0;
  background-color: $gray-300;
}

.rating-number-wrap {
  position: absolute;
  font-family: $headings-font-family;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0.1875rem;
    height: 100%;
    width: 50%;
    transform: skewX(
        -17deg);
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 86%;
    width: 50%;
    transform: skewX(22deg);
  }
  .rating-number-small {
    font-size: xx-small;
  }
}

.rating-number-border {
  display: inline-flex;
  position: absolute;
  bottom: 0;
  font-weight: 600;
}

//Total Rating Header
.total-rating {
  position: relative;
  height: 2.1875rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .rating-number-wrap {
    padding: .18rem .3rem .0rem 0.8rem;
    height: 2.1875rem;

    &:before {
      border-top-left-radius: .5rem;
      border-bottom-left-radius: .7rem;
      border-top: 0.125rem solid;
      border-bottom: 0.125rem solid;
      border-left: 0.125rem solid;
    }
    &:after {
      border-top-right-radius: .5rem;
      border-top: 0.125rem solid;
      border-right: 0.125rem solid;
    }
  }
  .resort-header-card__title {
    font-family: $headings-font-family;
    font-size: 1.1875rem;
    font-weight: bold;
    padding-left: 3.8rem;
    position: relative;
    line-height: 1.8;
  }

  .rating-number-big {
    font-size: 1.25rem;
  }

  .rating-number-border {
    width: 3.5rem;
    height: 2.1875rem;
  }

  .rating-bar-container {
    margin-left: 0.5rem;
  }

  .rating-bar {
    height: 0.125rem;
  }
}

//Sub Rating
.sub-rating {
  position: relative;
  height: 1.5625rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .rating-number-big {
    font-size: .9rem;
  }

  .rating-100 {
    margin-left: -0.1rem;
  }

  .rating-number-wrap {
    height: 1.5625rem;
    padding: 0.05rem 0.25rem 0 0.65rem;

    &:before {
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .7rem;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-left: 1px solid;
    }
    &:after {
      border-top-right-radius: .3rem;
      border-top: 1px solid;
      border-right: 1px solid;
    }
  }

  .resort-header-card__title {
    padding-left: 3.1rem;
    position: relative;
    font-size: 0.8rem;
    line-height: 2.0;
    font-weight: 500;
  }

  .rating-number-border {
    width: 3rem;
    height: 1.5625rem;
  }

  .rating-bar-container {
    height: 1px;
    margin-left: 0.625rem;

    .rating-bar {
      height: 1px;
    }
  }
}

// Rating Bar Colors
.rating {
  &__border- {
    &20 {
      border-color: var(--cui-secondary);
      color: var(--cui-secondary);
    }
    &40 {
      border-color: var(--cui-warning);
      color: var(--cui-warning);
    }
    &60 {
      border-color: var(--cui-info);
      color: var(--cui-info);
    }
    &80 {
      border-color: var(--cui-primary);
      color: var(--cui-primary);
    }
    &100 {
      border-color: var(--cui-success);
      color: var(--cui-success);
    }
  }

  &__bar- {
    &20 {
      background-color: var(--cui-secondary);
    }
    &40 {
      background-color: var(--cui-warning);
    }
    &60 {
      background-color: var(--cui-info);
    }
    &80 {
      background-color: var(--cui-primary);
    }
    &100 {
      background-color: var(--cui-success);
    }
  }
}
