$total-rating-line-width: .188rem;
$total-rating-indicator-size: .313rem;
$total-rating-border: $total-rating-line-width solid;
$sub-rating-line-width: .125rem;
$sub-rating-indicator-size: .25rem;
$sub-rating-border: $sub-rating-line-width solid;

.rating {
  position: relative;
  height: 1.5625rem;
  white-space: nowrap;
  text-overflow: ellipsis;

  &__number-big {
    font-size: 1rem;
  }

  &__is-100 {
    margin-left: -0.1rem;
  }

  &__number-wrap {
    position: absolute;
    font-family: $headings-font-family;
    height: 1.5625rem;
    padding: 0.05rem 0.28rem 0 0.65rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0.1875rem;
      height: 100%;
      width: 50%;
      transform: skewX(-17deg);
      border-top-left-radius: 0.37rem;
      border-bottom-left-radius: 0.7rem;
      border-top: $sub-rating-border;
      border-bottom: $sub-rating-border;
      border-left: $sub-rating-border;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      height: 78%;
      width: 50%;
      transform: skewX(22deg);
      border-top-right-radius: 0.37rem;
      border-top: $sub-rating-border;
      border-right: $sub-rating-border;
    }

    .rating__number-small {
      font-size: xx-small;
    }
  }

  &__title {
    padding-left: 3.2rem;
    position: relative;
    font-size: 0.8rem;
    line-height: 2;
    font-weight: 500;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__number-border {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    font-weight: 600;
    width: 3rem;
    height: 1.5625rem;
  }

  &__bar-container {
    width: 100%;
    height: $sub-rating-line-width;
    position: absolute;
    bottom: 0;
    background-color: $gray-300;
    margin-left: 0.625rem;
    width: -webkit-fill-available;
  }

  &__bar {
    height: $sub-rating-line-width;
  }

  &__border {
    &--na {
      border-color: $gray-300;
      color: $gray-300;
    }

    &--0 {
      border-color: var(--cui-rating-20);
      color: var(--cui-rating-20);

    }

    &--20 {
      border-color: var(--cui-rating-20);
      color: var(--cui-rating-20);

    }

    &--40 {
      border-color: var(--cui-rating-40);
      color: var(--cui-rating-40);

    }

    &--60 {
      border-color: var(--cui-rating-60);
      color: var(--cui-rating-60);
    }

    &--80 {
      border-color: var(--cui-rating-80);
      color: var(--cui-rating-80);
    }

    &--100 {
      border-color: var(--cui-rating-100);
      color: var(--cui-rating-100);
    }
  }

  &__bar {
    &--na {
      background-color: $gray-300;
    }

    &--0 {
      background-color: var(--cui-rating-20);
    }

    &--20 {
      background-color: var(--cui-rating-20);
    }

    &--40 {
      background-color: var(--cui-rating-40);
    }

    &--60 {
      background-color: var(--cui-rating-60);
    }

    &--80 {
      background-color: var(--cui-rating-80);
    }

    &--100 {
      background-color: var(--cui-rating-100);
    }
  }

  &__bar-indicator {
    width: $sub-rating-indicator-size;
    height: $sub-rating-indicator-size;
    position: absolute;
    margin-left: -2px;
    top: -1px;
    border-radius: 50%;
  }

  &--total-rating {
    height: 2.1875rem;

    .rating {
      &__number-wrap {
        padding: 0.18rem 0.3rem 0 0.8rem;
        height: 2.1875rem;

        &::before {
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.7rem;
          border-top: $total-rating-border;
          border-bottom: $total-rating-border;
          border-left: $total-rating-border;
        }

        &::after {
          border-top-right-radius: 0.5rem;
          border-top: $total-rating-border;
          border-right: $total-rating-border;
        }
      }

      &__title {
        font-family: $headings-font-family;
        font-size: 1.1875rem;
        font-weight: bold;
        padding-left: 3.8rem;
        line-height: 1.8;
      }

      &__number-big {
        font-size: 1.25rem;
      }

      &__number-border {
        width: 3.5rem;
        height: 2.1875rem;
      }

      &__bar-container {
        height: $total-rating-line-width;
        margin-left: 0.5rem;
      }

      &__bar {
        height: $total-rating-line-width;
      }

      &__bar-indicator {
        height: $total-rating-indicator-size;
        width: $total-rating-indicator-size;
        position: absolute;
        top: -1px;
        border-radius: 50%;
      }
    }
  }
}
