// Region Select
.region-select {
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
  user-select: none;

  input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  label {
    cursor: pointer;
    display: flex; // Added to ensure consistent sizing
  }

  .region-item {
    display: inline-block;
    background-color: $gray-300;
    padding: 0;
    overflow: hidden;
    border-radius: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
    text-align: center;
    border: 0.25rem solid transparent; // Added transparent border

    &:hover {
      background-color: $gray-500;
    }
  }

  span {
    margin-bottom: .5rem;
    display: block;
    font-size: .8rem;
  }

  .region-image-wrap {
    display: block;
    background-color: $gray-300;
    margin: .5rem;
    border: 1px solid $gray-300;
    overflow: hidden;
    border-radius: .66rem;
    font-weight: 500;
    transition-duration: .2s;
    text-align: center;

    .region-image {
      max-height: 5rem;
      max-width: 5rem;
    }
  }

  @media (min-width: 576px) and (max-width: 1920px) {
    .region-image-wrap {
      .region-image {
        max-height: 6rem;
        max-width: 6rem;
      }
    }
    span {
      font-size: 1rem;
    }
  }

  input[type="checkbox"]:checked + .region-item {
    background-color: $primary-600;
    color: $gray-100;

    &:active, &:focus {
      box-shadow: inset 0 0 0 0.25rem $primary-700; // Changed to box-shadow
    }

    &:hover {
      background-color: $primary-500;
    }
  }

  // New styles for checkbox focus
  input[type="checkbox"]:focus + .region-item {
    box-shadow: 0 0 0 2px $primary-700; // Changed to box-shadow
  }
}

.country-select-wrap {
  min-height: 300px;
}
