//Resort Card Global Sizing
.resort-card__wrap{
  width: 31.25rem;
  background: $gray-400 !important;
  border: none !important;
  border-radius: 1.3rem;
  overflow: hidden;

  .icon {
    vertical-align: middle;
  }

  .card-header {
    padding: 1rem;
  }
}

//Location
.country-flag-wrap {
  overflow: hidden;
  width: 1.8125rem;
  height: 1.25rem;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .country-flag {
    object-fit: cover;
    min-width: 2.4375rem;
  }
}

.resort-card__sub-ratings-list {
  .rating-list-label {
    font-size: .6rem;
    color: $gray-700;
    position: absolute;
  }
}

.resort-header-card {

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden
  }

  &__location {
    font-family: $headings-font-family;
    font-size: small;
  }
}



.resort-card__sub-ratings-list {
  .list-scroll {
    overflow-y: scroll;
    height: 6.25rem;
    margin-top: 1.25rem;
  }
}

//ScrollBar
::-webkit-scrollbar-track {
  padding: 0.125rem 0;
  background-color: $gray-400;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: $gray-500;
}

//Footer
.resort-card__footer {
  border-top: 0;
  position: relative;
  cursor: pointer;
  padding: 0;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 7%;
    height: 100%;
    border-top-left-radius: .5rem;
    width: 100%;
    background-color: $card-bg-semi-transparent;
    transform: skewX(
        -25deg);
    transition-duration: $card-animation-transition-time;
  }

  &:hover:before {
    background-color: $gray-300;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    border-top-left-radius: .5rem;
    opacity: .2;
    background: $warning;
    right: -0.625rem;
    width: 4.0625rem;
    transition-duration: $card-animation-transition-time;
    transform: skewX(
        -25deg);
  }
}

//Gallery
.resort-card__carousel-wrap {
  display: flex;
  max-width: 13.563rem;
  height: 7.1875rem;
  overflow: hidden;
}

.resort-card__comment-text {
  display: -webkit-box;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

//Comments
.author {
    display: block;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    right: 0;
    font-size: xx-small;
    padding: 0.4rem 0.8rem;
    border-bottom-right-radius: 0.5rem;
    background-color: #233541;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -15%;
    height: 100%;
    border-top-left-radius: 0.5rem;
    width: 1.25rem;
    background-color: #233541;
    transform: skewX(
        -25deg);
    transition-duration: 0.3s;
  }
}

//Buttons
.share-wrap {
  cursor: pointer;
  margin: auto;
  padding: .5rem 1rem;
  background-color: $card-bg-semi-transparent;
  border-radius: 5rem;
  position: relative;
  top: -0.625rem;
  transition-duration: $card-animation-transition-time;

  &:hover {
    background-color: $gray-300;
  }
}

.resort-card__expand {
  margin-left: 3.5rem;
  position: relative;
  line-height: 2.8125rem;
}

.resort-card__go-to-resort {
  position: relative;
  float: right;
  line-height: 2.8125rem;
  z-index: 2;
}

.resort-card__description {
  max-width: 100%;
  color: $gray-800;
  font-size: small;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.resort-card__location-description {
  width: 100%;
}

//Expand Animations
.resort-card__description, .resort-card__content-2{
  opacity: 0;
  max-height: 0;
  transition-duration: $card-animation-transition-time;
}

.resort-card__expand .icon {
  transform: rotateZ(0deg);
  transition-duration: $card-animation-transition-time;
}

.full-expanded {
  .resort-card__footer {

    &:after {
      opacity: 1;
      width: 10rem;
    }
  }

  .resort-card__description {
    opacity: 1;
    max-height: 6.25rem;
  }

  .resort-card__content-2 {
    opacity: 1;
    max-height: 13.75rem;
  }

  .resort-card__expand .icon {
    transform: rotateZ(-180deg);
  }
}

a.resort-link {
  height: 2.8125rem;
  color: $white;
  padding: 0rem 1rem;
}
