.resorts-parallax-background {
  &__image {
    &--filter {
      opacity: .5;
      background-color: $gray-300;
      width: -webkit-fill-available;
      height: 100%;
      position: fixed;
      margin: auto;
      top: 0;
      left: 0;
      z-index: -10;
    }

    & img {
      position: fixed;
      margin: auto;
      width: -webkit-fill-available;
      top: 0;
      left: 0;
    }

    &--1 {
      z-index: -11;
    }
    &--2 {
      z-index: -12;
    }
    &--3 {
      z-index: -13;
    }
    &--4 {
      z-index: -14;
      transform: translateY(-50%);
    }
  }
}
