.resort-single {

  & .caption-text {
    font-weight: 200;
    position: relative;
    font-size: 0.9rem;
  }

  & .resort-single-card-heading {
    font-size: 1.1rem;
    font-weight: 200;
    font-family: "Plus Jakarta Sans";
  }

  & .numeric-list__numeric {
    padding: 1rem;
    border-left: .25rem solid #245773;
    background: #283c49;
    border-radius: .5rem;
    width: 14rem;
  }

  &__carousel-image-item-wrap {
    height: 12rem;
    overflow: hidden;
    display: flex;
    margin-right: 1rem;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  & .resort-single__image-carousel {
    .carousel {
      height: 12rem !important;
    }

    .flickity-viewport {
      height: 100% !important;
    }
  }

  & .fullscreen-icon-wrap {
    z-index: 1;
    position: absolute;
    background: rgb(40 60 73 / 14%);
    padding: .5rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    border-radius: 1rem;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    margin: .5rem !important;
    cursor: zoom-in;
    transition-duration: $card-animation-transition-time;

    &:hover {
      background: rgb(40 60 73 / 64%);
    }
  }

  & .carousel__image-item {
    height: 100%;
  }

  & .card {
    border-radius: $border-radius-lg;

    & .resort-card__description-single-resort {
      font-weight: 200;
      font-size: .9rem;
    }
  }

  & .resort-comments__card {
    overflow: hidden;
    width: 12rem;
    margin-right: 1rem;
  }

  & .back-button {
    cursor: pointer;
    background-color: #2b414d;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;

    &:hover {
      background-color: #1d2e39;
    }
  }
}
.resort-ratings {
  margin-bottom: 2rem;

  .ratings-title {
    margin-bottom: 1rem;
  }

  .category-ratings {
    .category-title {
      font-size: 0.9rem;
      font-weight: 600;
      margin-bottom: 1rem;
      margin-top: 1rem;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .rating-item-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }

  .rating-item {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  @media (min-width: 768px) {
    .rating-item {
      width: calc(50% - 0.5rem);  // Adjusted for gap
    }
  }
}

.resort-image-modal {
  & .flickity-viewport {
    height: 80vh !important;
    max-height: 1000px;
  }
}
