.resort-card {
  ::-webkit-scrollbar-track {
    padding: 0.125rem 0;
    background-color: $gray-400;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: $gray-500;
  }

  .error-help {
    max-width: 300px;
  }

  &__wrap {
    height: fit-content;
    max-width: 67.5rem;
    width: 36rem;
    background: $gray-400 !important;
    border: none !important;
    border-radius: 1.3rem;
    overflow: hidden;

    .icon {
      vertical-align: middle;
    }

    .card-header {
      padding: 1rem;
    }
  }

  &__location-wrap {
    width: 100%;
  }

  &__country-flag-wrap {
    overflow: hidden;
    width: 1.8125rem;
    height: 1.25rem;
    border-radius: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__country-flag-image {
    object-fit: cover;
    min-width: 2.4375rem;
  }

  &__location {
    width: 100%;
    min-height: 1.25rem;
  }

  &__location-title {
    line-height: 1.6;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    font-family: $headings-font-family;
    font-size: small;
  }

  &__description, &__description--not-available, &__content-2 {
    opacity: 0;
    max-height: 0;
    transition-duration: $card-animation-transition-time;

    &--not-available {
      opacity: 0;
      height: 0;
      transition-duration: $card-animation-transition-time;
    }
  }

  &__description {
    max-width: 25rem;
    color: $gray-800;
    font-size: small;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__content-0 {
    & .dropdown-toggle {
      &:after {
        display: none !important;
      }
    }
  }

  &__share-wrap {
    cursor: pointer;
    margin: auto;
    padding: .5rem 1rem;
    background-color: $card-bg-semi-transparent;
    border-radius: 5rem;
    position: relative;
    top: -0.425rem;
    transition-duration: $card-animation-transition-time;

    &:hover {
      background-color: $gray-300;
    }
  }

  .numeric-list__list {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .numeric-list__numeric {
      overflow: hidden;
      width: 6.5rem;
    }
  }

  &__sub-ratings-list {
    width: 50%;

    .rating-list__list-scroll {
      max-width: 22rem;
      overflow: hidden;
      height: max-content;
      margin-top: .55rem;
    }
  }

  &__small-label {
    font-size: .6rem;
    font-weight: normal;
    color: $gray-700;
  }

  &__footer-wrap {
    border-top: 0;
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  &__expand {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: -1.7rem;
      height: 100%;
      border-top-left-radius: .5rem;
      width: 150%;
      background-color: $card-bg-semi-transparent;
      transform: skewX(
          -25deg);
      transition-duration: $card-animation-transition-time;
    }

    &:hover:before {
      background-color: $gray-300;
    }
  }

  &__resort-link {
    &:hover {
      color: $white;

      &:after {
        background: $warning-dark;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      border-top-left-radius: .5rem;
      background: #533c66;
      right: -0.625rem;
      width: 4.25rem;
      transition-duration: $card-animation-transition-time;
      transform: skewX(
          -25deg);
    }
  }

  &__image-carousel {
    width: 50%;
    height: 8.25rem;
    margin-left: 1rem;
    margin-bottom: 1rem;

    .flickity-viewport {
      height: 100%
    }
  }

  &__comment-carousel {
    display: flex;
    height: 7.1875rem;
    overflow: hidden;
    height: -webkit-fill-available;
    position: relative;
    overflow: hidden;
  }

  &__expand {
    margin-left: 3.2rem;
    position: relative;
    line-height: 2.8125rem;
    width: 100%;
  }

  &__go-to-resort-button {
    position: relative;
    float: right;
    line-height: 2.8125rem;
    z-index: 2;
  }

  &__go-to-resort-text {
    font-size: .8rem;
    font-weight: bold;
    opacity: 0;
    transition-duration: $card-animation-transition-time;
    transition-delay: $card-animation-transition-time;
  }

  &__resort-link {
    height: 2.8125rem;
    color: $white;
    padding-right: 1rem;
    width: 0rem;
  }

  &__expand .icon {
    transform: rotateZ(0deg);
    transition-duration: $card-animation-transition-time;
  }

  &--skeleton {
    .skeleton-card__header {
      .skeleton-rating-header {
        height: 2.1875rem;
        width: 3.125rem;

        &:before {
          content: "";
          position: absolute;
          background-color: $gray-300;
          height: 2.1875rem;
          border-top-right-radius: 0.5rem;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.7rem;
          width: 1.875rem;
          transform: skewX(-17deg);
        }

        &:after {
          content: "";
          position: absolute;
          left: 2.125rem;
          border-top-left-radius: .5rem;
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.7rem;
          height: 2.1875rem;
          width: 1.875rem;
          background-color: $gray-300;
          transform: skewX(22deg);
        }
      }
    }

    .skeleton-sub-rating-wrap {
      width: 50%;

      .skeleton-rating-header {
        height: 1.5625rem;
        width: 2.75rem;

        &:before {
          content: "";
          position: absolute;
          background-color: $gray-300;
          height: 1.5625rem;
          border-top-right-radius: 0.5rem;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.7rem;
          width: 1.5625rem;
          transform: skewX(-17deg);
        }

        &:after {
          content: "";
          position: absolute;
          left: 1.9375rem;
          border-top-left-radius: .5rem;
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.7rem;
          height: 1.5625rem;
          width: 1.5625rem;
          background-color: $gray-300;
          transform: skewX(22deg);
        }
      }
    }

    .skeleton-rating-title {
      background-color: $gray-300;
      border-radius: 1rem;
      height: 1.5rem;
      margin-top: .3rem;
    }

    .skeleton-sub-rating {
      border-radius: 1rem;
      height: 1.4375rem;
    }

    .skeleton-location-details {
      background-color: $gray-300;
      border-radius: 1rem;
    }

    .country-flag-wrap {
      background-color: $gray-300;
    }

    .skeleton-image {
      background-color: $gray-300;
      border-radius: 1rem;
      height: 7.1875rem;
      width: 50%;
      max-width: 18.75rem;
      overflow: hidden;

      & img {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }

    .skeleton-footer {
      height: 2.875rem;
      border: none;

      & .resort-card__expand:before {
        height: 3.8rem;
        background-color: $gray-300 !important;
      }

      &:after {
        background-color: unset !important;
      }
    }
  }

  &__error-details-wrap {
    border-left: solid $danger 2px;
    border-radius: $border-radius-lg;
    background-color: $gray-300;
  }

  // Resort Card Mini
  &-mini {
    max-width: 23rem;
    width: 100%;

    .resort-card__sub-ratings-list {
      width: 100%;
    }
    .resort-card__image-carousel {
      width: 100%;
      height: 12.25rem;
      margin-left: 0;
      margin-bottom: 0;
    }

    .resort-card__wrap {
      width: unset;
    }
  }
}

.full-expanded {
  .resort-card {

    &__resort-link {
      width: 18rem;

      &:hover {
        color: $body-color;
      }

      &:after {
        background: $warning;
        width: 10rem;
      }

      &:hover {
        &:after {
          background: $warning-dark;
        }
      }
    }

    &__description {
      opacity: 1;
      max-height: 6.25rem;

      &--not-available {
        opacity: 1;
        height: 2.8rem;
      }
    }

    &__content-2 {
      opacity: 1;
      max-height: 13.75rem;
    }

    &__go-to-resort-text {
      opacity: 1;

      &:hover {
        color: $body-color;
      }
    }

    &__expand .icon {
      transform: rotateZ(-180deg);
    }
  }
}

@media (min-width: 576px) and (max-width: 1920px) {
  .resort-card__sub-ratings-list,
  .skeleton-sub-rating-wrap {
    width: -webkit-fill-available !important;
  }
}

@media (min-width: 1920px) {
  .resort-card__wrap {
    max-width: 67.5rem !important;
  }
}
