.c-sidebar {
  background: $bg-gradient-gray;
}

.sidebar {
  background-color: $gray-200;
}

.sidebar-nav {
  &__link {
    &--current.nav-link {
      background: $gray-100;
      color: $primary;

      &:hover {
        color: $primary;
        background: $gray-100;
        cursor: auto;
      }
    }
  }
}
