.c-sidebar,
.c-header,
.modal-content {
  background: linear-gradient(45deg, #283c49, #39576b) !important;
}

// Opacity
.opacity {
  &-1 {
    opacity: 1;
  }
  &-8 {
    opacity: .8;
  }
  &-6 {
    opacity: .6;
  }
  &-4 {
    opacity: .4;
  }
  &-2 {
    opacity: .2;
  }
}

// Buttons
button {
  text-decoration: none !important;

  &:focus {
    outline: none !important;
  }
}

// Cards
.card-header {
  button:focus {
    box-shadow: none !important;
  }
}

.c-avatar-img.round {
  border-radius: 100%;
}

.skeleton-card {
  border: none;
  background: linear-gradient(to right, #172935 0%, #192e3b 25%, #192e3b 75%, #172935 100%) !important;
}

