// Here you can add other styles

// Buttons
button {
  text-decoration: none !important;

  &:focus {
    outline: none !important;
  }
}

// Borders

.border-radius-md {
  border-radius: .2rem;
}

// Cards
.card-header {
  button:focus {
    box-shadow: none !important;
  }
}
