// Variable overrides

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&family=Roboto:wght@100;300;500;700;900&display=swap');

// Type
$headings-font-family: roboto;
$font-family-base: nunito;

// CoreUI Colors
$white: #ffffff;
$black: #000000;

$gray-base: #f1f4f8;
$gray-100: #101d25;
$gray-200: #16252f;
$gray-300: #1d2e39;
$gray-400: #283c49;
$gray-500: #344a59;
$gray-600: #445f70;
$gray-700: #60849d;
$gray-800: #bdd3df;
$gray-900: #f1f4f8;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
    (
      "100": $gray-100,
      "200": $gray-200,
      "300": $gray-300,
      "400": $gray-400,
      "500": $gray-500,
      "600": $gray-600,
      "700": $gray-700,
      "800": $gray-800,
      "900": $gray-900
    ),
    $grays
);

$primary-base: #4eb5a6;
$primary-100: #a6fef1;
$primary-200: #92f9ea;
$primary-300: #87f0e1;
$primary-400: #59d2bf;
$primary-500: #4dc5b3;
$primary-600: #4eb5a6;
$primary-700: #32877a;
$primary-800: #1d665b;
$primary-900: #0e483f;

$primary-dark: #45a698;
$primary: #4dc5b3;
$primary-50: #70d8c9;
$primary-25: #92f9ea;


$primary-gradient: (
  "start": $primary,
  "stop": $primary-dark
);


$secondary-base: #9b5776;

$secondary-100: #f3b6d0;
$secondary-200: #da98b5;
$secondary-300: #c27c9b;
$secondary-400: #a96181;
$secondary-500: #924b6b;
$secondary-600: #803e5b;
$secondary-700: #73334f;
$secondary-800: #622741;
$secondary-900: #531f36;

$secondary-dark: #803a5a;
$secondary: #924b6b;
$secondary-50: #9b5776;
$secondary-25: #a86282;
$secondary-gradient: (
  "start": $secondary,
  "stop": $secondary-dark
);


$danger-dark: #d93737;
$danger: #e55353;
$danger-50: #f2a9a9;
$danger-25: #f9d4d4;
$danger-gradient: (
  "start": $danger,
  "stop": $danger-dark
);

$info-dark: #338bbe;
$info: #63c2f8;
$info-50: #7bceff;
$info-25: #9ad7ff;
$info-gradient: (
  "start": $info,
  "stop": $info-dark
);

$success-dark: #4eb892;
$success: #5bd4a8;
$success-50: #76f0c3;
$success-25: #91f7d2;
$success-gradient: (
  "start": $success,
  "stop": $success-dark
);

$warning-dark: #8845c3;
$warning: #b476eb;
$warning-50: #f39edc;
$warning-25: #f8c1ea;
$warning-gradient: (
  "start": $warning,
  "stop": $warning-dark
);

$light: $gray-600;
$light-gradient: (
  "start": $light,
  "stop": $gray-400
);

$dark: $gray-300;
$dark-gradient: (
  "start": $gray-300,
  "stop": $gray-100
);

$pink: #ff68ae;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
      "primary": $primary,
      "secondary": $secondary-25,
      "success": $success,
      "info": $info,
      "warning": $warning,
      "danger": $danger,
      "light": $light,
      "dark": $dark
    ),
    $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-900;
$yiq-text-light: $white;

$yiq-theme-map: ();
// stylelint-disable-next-line scss/dollar-variable-default
$yiq-theme-map: map-merge(
    (
      default: (
        "yiq-text-dark": $yiq-text-dark,
        "yiq-text-light": $yiq-text-light
      )
    ),
    $yiq-theme-map
);

// TODO: Move to better place
// Characters which are escaped by the escape-svg function
$escaped-characters: (
    ("<", "%3c"),
    (">", "%3e"),
    ("#", "%23"),
    ("(", "%28"),
    (")", "%29"),
);


// Body
$body-bg: $gray-200;
$body-color: #c2dbed;
$border-color: $gray-600;
$hr-border-color: $gray-600;

// Header
$header-light-bg: $gray-500;
$header-light-color: $body-color;
$header-light-hover-color: rgba($body-color, .7);
$header-light-active-color: rgba($body-color, .9);
$header-light-disabled-color: rgba($body-color, .3);

// Sub Header
$subheader-light-bg: $gray-500;
$subheader-light-color: $body-color;
$subheader-light-hover-color: rgba($body-color, .7);
$subheader-light-active-color: rgba($body-color, .9);
$subheader-light-disabled-color: rgba($body-color, .3);

// Breadcrumbs
$breadcrumb-active-color: $gray-800;
$breadcrumb-divider-color: $gray-700;

// Pagination
$pagination-bg: $gray-400;
$pagination-disabled-bg: $gray-400;
$pagination-disabled-color: $primary;
$pagination-disabled-border-color: $border-color;

// Cards
$card-bg: $gray-400;
$card-cap-bg: $gray-400;
$card-cap-color: $body-color;
$card-border-color: $gray-400;

// Modal
$modal-content-bg: $gray-400;

// Toast
$toast-background-color: $gray-400;
$toast-header-background-color: $gray-500;
$toast-header-color: $gray-900;

// Popovers
$popover-bg: $gray-200;
$popover-body-color: $info;
$popover-header-color: $gray-900;

// Sidebar
$sidebar-dark-bg: $gray-500;
.c-sidebar, .card, .c-header, .modal-content {
  background: linear-gradient(45deg, #283c49, #39576b) !important;
}

// DropDown
$dropdown-bg: $gray-400;
$dropdown-header-color: $gray-900;

// Buttons
$btn-active-box-shadow: 0 0 0.4rem rgba(255, 255, 255, 0.38) !important;
$btn-focus-box-shadow: 0 0 0.4rem rgba(255, 255, 255, 0.38) !important;

//Nav
$nav-tabs-link-active-bg: $gray-600;
$nav-tabs-link-active-color: $gray-900;
$nav-tabs-border-color: $border-color;
$nav-tabs-boxed-left-active-border-color: $border-color;
$nav-tabs-link-active-border-color: $border-color;
$nav-tabs-link-hover-border-color: $border-color;

// Input
$input-btn-focus-box-shadow: 0 0 0.4rem rgba(255, 255, 255, 0.38) !important;
$input-group-addon-bg: $primary;
$input-group-addon-border-color: $primary;
$input-group-addon-color: $gray-900;
$input-border-color: $gray-400 !important;
$input-focus-bg: $gray-300;
$input-color: $gray-800;
$input-placeholder-color: $gray-700;
$input-bg: $gray-300;

// Close
$close-color: $white;
$close-text-shadow: none;

// Table
$table-head-bg: $gray-600;
$table-head-color: $gray-800;

// List Group
$list-group-border-color: $border-color;




