// Import CoreUI functions
@import "~@coreui/coreui/scss/functions";

// Import Variable Changes
@import "darktheme";

// Import CoreUI Styles
@import "~@coreui/coreui/scss/variables";
@import "~@coreui/coreui/scss/coreui";
@import "~@coreui/coreui/scss/mixins";

// If you want to add something do it here
@import "custom/custom";
@import "custom/partials/forms";
@import "custom/partials/modal";

// Utilities
@import "utils/skeleton";

// Component styles
@import "components/header";
@import "components/home-lifestyles";
@import "components/header-nav";
@import "components/hero";
@import "components/sidebar-nav";
@import "components/support-banner";
@import "components/footer";
@import "components/team-members";
@import "components/range-slider";
@import "components/resorts-parallax-background";
@import "components/resort-card";
@import "components/resort-single";
@import "components/filterToggleButton";
@import "components/ranked-resort-list";
@import "components/ranked-resort-result-count";
@import "components/rating";
@import "components/range-rheostat-graph";
@import "components/region-select";
@import "components/statistic";
@import "components/carousel";
@import "components/filterMenu";
