// Import CoreUI functions
@import "~@coreui/coreui/scss/functions";

// Import Variable Changes
@import "darktheme";

// Import CoreUI Styles
@import "~@coreui/coreui/scss/variables";
@import "~@coreui/coreui/scss/coreui.scss";
@import "~@coreui/coreui/scss/mixins";

// If you want to add something do it here
@import "custom";

// Component styles
@import "components/support-banner";
@import "components/footer";
@import "components/team-members";
@import "components/resort-card";
@import "components/ratings";
@import "components/carousel";
